.web-extend-content-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: flex;
  align-items: end;
  z-index: 1000;
}

.web-extend-content {
  background-color: #fff;
  margin-right: 8px;
  border: 1px solid #ccc;
  border-radius: 6px;
  text-align: center;
  padding: 12px;
}

.web-extend-content h1 {
  font-size: 1.8rem;
  font-weight: 700;
}

.web-extend-content p {
  font-size: 1.2rem;
  font-weight: 400;
  opacity: 0.5;
}
